.baslik{
  text-align: center;
  padding: 0 10px 0 10px;
  margin: 10px 10px 0 10px;
  color: black;
  background-color: whitesmoke;
}
.metin{
padding: 0 10px 10px 10px;
margin: 0 10px 10px 10px;
background-color: whitesmoke;
font-family: Arial, Helvetica, sans-serif;  
font-size: 1.2em;
}
.img{
  width: 100%;
  padding: 10px;
  
  
}
.all{
  padding:10px;
}

.all2{
  background-color: whitesmoke;
  margin: 10px;

}



